/* GENERAL STYLE */

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
}

/* UTILITIES */

.container-small {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.container-small::after {
  content: '';
  display: table;
  clear: both;
}

.styled-list {
  display: inline-block;
}

.i-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}


 /* DEBUG:  */

.box {
  background-color: lightgrey;
  border: 1px solid black;
}

/* header styles */

/* nav styles */
nav {
  line-height: 80px;
  position: relative;
}

.nav-menu {
  display: none;
}

/* jumbotron styles */

.jumbotron {
  height: 600px;
  position: relative;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.jumbotron-text {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -70%);
text-align: center;
color: white;
}

.jumbotron p {
  margin: 20px 0;
}


/* products section */

.products img {
  height: 400px;
}

.products p {
  margin: 20px 0;
  color: rgb(158,158,158);
}

.products p a {
  color:#0070c8;
  text-decoration: none;
}

.product-left,
.product-right {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fafafa;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

  .nav-menu {
    display: block;
    position: absolute;
    right: 0;

  }

  .navbar {
    position: relative;
  }

  .nav-menu ul li {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 600;
  }


  .lang a {
    border-right: 1px solid grey;
    padding-right: 5px;
    color: black;
    text-decoration: none;
  }

}
